<app-header></app-header>

<main class="grid">
    <section>
        <div class="grid lg:grid-cols-5 lg:grid-rows-2 p-1 gap-1">
            <article class="shadow-interno bg-[url(/assets/neymar_furia.webp)] bg-center bg-cover lg:col-span-3 lg:row-span-2">
                <div class="h-full p-4 inline-block content-end">
                    <h1 class="card_tag border-2 border-transparent border-b-indigo-500 max-w-40 text-center">Kings League</h1>
                    <h1 class="card_title">Neymar Jr. presidirá Furia na Kings League Brasil</h1>
                </div>
            </article>

            <article class="shadow-interno bg-[url(/assets/furia_fallen.jpg)] bg-center bg-cover">
                <div class="h-full p-4 inline-block content-end">
                    <h1 class="card_tag border-2 border-transparent border-b-amber-500 max-w-40 text-center">Counter Strike</h1>
                    <h1 class="card_title">FalleN: "Ainda posso atuar em alto nível"</h1>
                </div>
            </article>

            <article class="shadow-interno bg-[url(/assets/furia_lol.jpg)] bg-top bg-cover">
                <div class="h-full p-4 inline-block content-end">
                    <h1 class="card_tag border-2 border-transparent border-b-blue-400 max-w-60 text-center">League Of Legends</h1>
                    <h1 class="card_title">Neymar Jr. presidirá Furia na Kings League Brasil</h1>
                </div>
            </article>

            <article class="shadow-interno bg-[url(/assets/furia_pubg.jpg)] bg-center bg-cover">
                <div class="h-full p-4 inline-block content-end">
                    <h1 class="card_tag border-2 border-transparent border-b-green-700 max-w-40 text-center">PUBG</h1>
                    <h1 class="card_title">FURIA anuncia os ‘heróis’ brasileiros e campeões da América</h1>
                </div>
            </article>

            <article class="shadow-interno bg-[url(/assets/furia_akkari.jpg)] bg-top bg-cover">
                <div class="h-full p-4 inline-block content-end">
                    <h1 class="card_tag border-2 border-transparent border-b-amber-500 max-w-40 text-center">Counter Strike</h1>
                    <h1 class="card_title">Akkari criará grupo com torcida para debater FURIA</h1>
                </div>
            </article>
           
        </div>
        <div>
            <div class="min-h-56 bg-[url(/assets/furia_banner.jpg)] bg-cover">

            </div>
        </div>
    </section>
</main>