@use "variables" as vars; 

article{
    min-height: 160px;
    cursor: pointer;

    .card_tag{
        padding: 4px;
        margin-bottom: 8px;
        background-color: rgba(46, 48, 49, 0.425);
        color: vars.$primary-color;
    }
    .card_title{
        padding: 4px;
        color: vars.$primary-color;
        font-size: 20px;
        font-weight: 700;
        text-shadow: 2px 2px #000000;
    }

}    

.shadow-interno {
        
    // border-radius: 8px;
    box-shadow: inset 0 -100px 30px rgba(0, 0, 0, 0.7); /* Sombra interna na parte inferior */
    transition: box-shadow 0.3s ease, background-color 0.3s ease; /* Transição suave */
  }
  
  .shadow-interno:hover {
    box-shadow: inset 0 -100px 20px rgba(0, 0, 0, 0.1); /* Clareamento da sombra interna */
    // transform: scale(1.05); /* Leve aumento de tamanho */
}