<main class="grider gap-2">
    <section class="bg-[url(/assets/furia_bg4.jpg)] bg-cover bg-center bg-no-repeat">

        <div class="grid grid-rows-4 max-lg:grid-rows-2 gap-4 h-full">
            <div> </div>
            <div> </div>
            <div class="grid  grid-rows-subgrid px-16">
                <h1 class="emphasis content-center">
                    Faça parte dessa paixão <br> 
                    Seja um <span>Furioso</span>
               </h1>
            </div>
            <div></div>            
        </div>
        
        
    </section>
    <section class="">
        <menu-login></menu-login>
    </section>
</main>